---
BasedOnStyle: LLVM

AllowShortFunctionsOnASingleLine: Empty
BreakConstructorInitializers: BeforeComma
Cpp11BracedListStyle: false
IncludeBlocks: Regroup
IndentWidth: 4
SpaceAfterCStyleCast: true

...
